/.dart_tool
android/.gradle/7.6.3/fileHashes/fileHashes.lock
android/.gradle/7.6.3/fileHashes/fileHashes.bin
android/.gradle/nb-cache/android-608242852/project-info.ser
android/.gradle/nb-cache/subprojects.ser
android/.gradle/7.6.3/fileHashes/fileHashes.lock
